
.project

.pydevproject

src/.idea/encodings.xml

src/.idea/inspectionProfiles/profiles_settings.xml

src/.idea/misc.xml

src/.idea/modules.xml

src/.idea/other.xml

src/.idea/scopes/scope_settings.xml

src/.idea/src.iml

src/.idea/testrunner.xml

src/.idea/vcs.xml

src/.idea/workspace.xml
